
 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
 }
.navbar-brand{
    color:green!important;
    font-weight:bolder ;
}

.carousel{
    display: flex;
    height: 20%;
    object-fit:contain ;
}
.card{ height: 30%;
    width: 30%;
    margin: auto;
    

}
.card>img:hover{
    transform: scale(1.1px) ;
    
}