
 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
 }
.navbar-brand{
    color:green!important;
    font-weight:bolder ;
}

.carousel{
    display: flex;
    height: 20%;
    object-fit:contain ;
}
.card{ height: 30%;
    width: 30%;
    margin: auto;
    

}
.col{
    width: 50%;
    
}
.card-body:hover{
    transform: scale(1.1px) ;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
    background-color: black;

}

.sec1>h1:first-child {
    font-family: 'Segoe UI';
    color: #3563e9;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    cursor: pointer;
}

.sec1>p:last-child {
    color: #797979;
    font-size: 1.1rem;
    cursor: pointer;
}

.sec2 {
    display: flex;
    gap: 0px 90px;
}

.sec2>ul {
    list-style-type: none;
}

.sec2>ul>h2 {
    cursor: pointer;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.sec2>ul>li {
    color: #797979;
    line-height: 30px;
    font-size: 15px;
    transition: all 0.2s linear;
}

.sec2>ul>li:hover{
    cursor: pointer;
    color: #4b4b4b;
    text-decoration: underline;
}

.sec3 {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
}

.sec3>h1 {
    font-size: 1rem;
    cursor: pointer;
}

.sec3>h1>span {
    padding: 0 30px;
}


